body, html {
    height: 100%;
}

.bg-img{
    background-image: url("imgs/sunny-bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center{
    background-color: rgba(140, 123, 197, 0.79);
    height: 100vh;
}

.title {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

#location{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

#weather{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#temperature {
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-kerning: normal;
    letter-spacing: 3px;
}

.icon img{
    width: 70%;
    height: 70%;
}

.btn-primary.btn-custom{
    background-color: #8C7BC5;
    border: none;
}

.btn-primary.btn-custom:hover{
    background-color: #fff;
    color: #8C7BC5;
}

.btn-primary.btn-custom:visited{
    border-color: white;
}

.footer{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.footer a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.footer a:hover{
    background-color: #fff;
    color: #8C7BC5;
    border: none;
}