/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*The code abobe is Erick Meyer's reset. My code starts below*/
body, html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: purple;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #FEC52D;
    border-radius: 25px;
    padding: 20px;
}
.title, .location, .weather, .temperature{
    color: #FEC52D;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon img{
    width: 60%;
    height: 60%;
}
.btn{
    background-color: #FEC52D;
    border: #FEC52D;
    color: purple;
    border-radius: 3px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.btn:hover{
    cursor: pointer;
    position: relative;
    top: -2px;
}
.footer p{
    color: #fff;
    font-size: 20px;
}
.footer p a{
    text-decoration: none;
    color: #FEC52D;
}