body, html {
    height: 100%;
}

.bg-img{
    background-image: url("imgs/sunny-bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center{
    background-color: rgba(140, 123, 197, 0.79);
    height: 100vh;
}

#weather{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#temperature {
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-kerning: normal;
    letter-spacing: 3px;
}

.icon img{
    width: 20%;
    height: 20%;
}

.footer{
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.footer a:hover{
    background-color: #fff;
    color: #8C7BC5;
    border: none;
}